.contact{
    margin-top: 95px;
    background-color: #f6f6f6;
}
.contact__wrapper{   
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 7%);
    margin: 25px 0;
    padding: 25px;
    width: 100%;
}

.contact__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 0 0 #f1f1f1;
}
.contact__title{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
}
.contact__text{
    font-family: sans-serif;
    line-height: 140%;
    padding: 15px 0;
}
.contact__link{
    font-family: sans-serif;
    color: blue;
}